html {
    
    background:#C0C0C0 ;
}

body {
     background:#F8F8F8  ;
    width:1005px;
    margin: 0 auto 0 auto;
    font-family:"Myanmar MN";
    border-right-style:solid;
    border-left-style:solid;
    border-width:thin;
    

}

#bannerhead {
    text-align:center;
    padding-top:10px;
}

#headline {
    text-align:center;
    font-size: 60px;
    font-weight: bold;
    padding-bottom:5px;
    padding-right:20px;
    padding-left:20px;
}

#headpic {
    text-align:center;
    padding-bottom:5px;
}

#headlinks {
    text-align:center;
   font-size: 30px;
   font-style: italic;
   padding-right:90px;
   padding-left:90px;
   padding-bottom:10px;
}

#logo {
    text-align:center;
    border-top-style:solid;
    border-bottom-style:solid;
    padding:14px 5px 10px 5px;
    background:#F8F8F8  ;
  
    
    
}

#countcontainer {
    
    border-bottom-style:solid;
    border-width:thin;
    overflow: auto;
    padding:5px;
   background:#F8F8F8  ;
 
    font-size: 20px;
    
}


#countleft {
    display: table-cell;
    width:49%;
    float:left;
    text-align:center;
    vertical-align: middle;
   
}

#countright {
    width:50%;
    float:right;
    border-left-style:solid;
    border-width:thin;
    text-align:center;
}
    
#content {
    
    background:#F8F8F8  ;
    font:15px;
    font-weight:bold;
   
}

#col1 {
    width:1px;
    background-color:#C0C0C0;
    margin-left:1px;
    margin-right:1px;
    height:100%;
}

#posts {
    padding-left:25px;
    padding-right:25px;
    height:100%;
}

#article {
    width:700px;
    float:left;
    height:700px;
}



#article-ad {
    float:right;
}

footer {
    text-align:center;
    border-top-style:solid;
    background:#F8F8F8  ;
    padding-top:14px;
    padding-bottom:14px;
}
